<!-- your html code here -->
<div class="container border-top p-5">

    <div class="row">

        <div class="col">

            <div>
                <h1>
                    This First Heading
                
                <span class="ms-1 text-secondary">
                     Will Catch Your Eye
                </span>

                </h1>
            </div>

            <div>

                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                 tellus ac cursus commodo. Nullam id dolor id nibh ultricies vehicula ut id elit.
                
            </div>

        </div>

        <div class="col-3">

            <div>

                <img class="img-fluid rounded-circle" src="https://github.com/LCLobe/exercise-collaborative-html-website/blob/master/website/assets/img/1.jpg?raw=true" alt="breaking-bad">
                
            </div>

        </div>

    </div>

</div>

<!-- <div class="row">
    <hr>
    <div class="col-3 ms-5">
        <img src="https://github.com/LCLobe/exercise-collaborative-html-website/blob/master/website/assets/img/2.jpg?raw=true" class="rounded-circle img-fluid" alt="">
    </div>
    <div class="col ms-3">
        <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1><br>
        <div class="row">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est laudantium, doloremque placeat, ad libero ea obcaecati impedit sunt tempora veniam aliquam ipsum harum saepe autem atque labore id eligendi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, minus facere. </p>
    </div> -->