<!-- your html code here -->
<div class="container mt-5">
  <div class="row mb-5">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Portfolio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
        distinctio itaque nostrum vitae quisquam tempora cumque quo officiis
        magni ratione ad, tenetur ducimus, autem voluptatum fugiat corporis,
        deserunt enim adipisci. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-group">
        <div class="row">
          <div class="col-lg-4">
            <div class="card my-3">
              <img
                src="https://raw.githubusercontent.com/LCLobe/exercise-collaborative-html-website/master/website/assets/img/big-project-image.png"
                class="card-img-top img-fluid"
                alt=""
              />
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Architecto facilis laudantium, sequi, distinctio ad molestias
                  natus est corporis.
                </p>

                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card my-3">
              <img
                src="https://raw.githubusercontent.com/LCLobe/exercise-collaborative-html-website/master/website/assets/img/big-project-image.png"
                class="card-img-top img-fluid"
                alt="..."
              />
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Architecto facilis laudantium, sequi, distinctio ad molestias
                  natus est corporis.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card my-3">
              <img
                src="https://raw.githubusercontent.com/LCLobe/exercise-collaborative-html-website/master/website/assets/img/big-project-image.png"
                class="card-img-top img-fluid"
                alt="..."
              />
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Architecto facilis laudantium, sequi, distinctio ad molestias
                  natus est corporis.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
    <hr>
  </div>
  </div>
</div>
