<!-- your html code here -->
<div class="container">
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ms-5 p-0">               
                <img src="https://github.com/LCLobe/exercise-collaborative-html-website/blob/master/website/assets/img/2.jpg?raw=true" class="rounded-circle img-fluid" alt="">
            </div>
            <div class="col">
                <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1><br>
                <div class="row">
                    <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est laudantium, doloremque placeat, ad libero ea obcaecati impedit sunt tempora veniam aliquam ipsum harum saepe autem atque labore id eligendi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, minus facere. </p>
            </div>
        </div>
    </div>
        </div>
        </div>
    </div>